<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<p style="color: green"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Active</th>
    </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.phone%></td>
      <td><%= customer.email%></td>
      <td><%= customer.active%></td>
      <td><%= link_to 'Show', customer %></td>
      <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New customer", new_customer_path %>